@font-face {
  font-family: "calibri";
  src: url("@/assets/fonts/calibri.ttf");
  font-display: block;
}

/* Default (Light Mode) */
:root {
  --color-sixty: #ffffff;
  --color-fifty: #bab5b1;
  --color-thirty: #bab5b1;
  --color-ten: #0e0d0d;

  --color-overSixty: #000000;
  --color-overFifty: #000000;
  --color-overThirty: #000000;
  --color-overTen: #ffffff;

  --color-destructive: #ef233c;
}

/* Hide the scrollbar but keep content scrollable */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
